.git
.idea
.vscode
.venv
venv
__pycache__
*.py[cod]

.env
.env.*
!.env.example
poetry.toml

db.sqlite3
db.sqlite3-journal
media
beat
celerybeat-schedule*
celerybeat.pid

.coverage
.coverage.*
htmlcov
.pytest_cache
*.log