SECRET_KEY=my-secret-key
STRIPE_SECRET_KEY=my-stripe-test-secret-key
STRIPE_SUCCESS_URL=http://127.0.0.1:8000/api/payments/success/
STRIPE_CANCEL_URL=http://127.0.0.1:8000/api/payments/cancel/
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1
DEFAULT_FROM_EMAIL=lms-service@example.com